<div class="row">
  {{#each route}}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body text-center">
        <p>{{ name }}</p>
        <!-- DELETE REQUEST -->
        <form action="/routes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" style="border-radius: 12px" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
         <form action="/route/{{_id}}" method="GET">
          <button type="submit" style="border-radius: 12px" class="seeRoute btn-block">See route</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto card-block">
    <div class="card-body text-center">
      <h1>Hello {{user.firstName}}</h1>
      <p clsss="lead">There are not routes yet.</p>
      <a href="/maps" class="otherButtons">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>