<div class="row">
  {{#each route}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p>Lat {{ lats }}</p>
        <p>Lon {{ lons }}</p>
        <!-- DELETE REQUEST -->
        <form action="/routes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" style="border-radius: 12px" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not routes yet.</p>
      <a href="/maps" class="otherButtons">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>